# Date-time Review

In [1]:
# Get python libraries import

from libraries import*

In [5]:
# Use pdr import to get tesla data 
tesla = pdr.get_data_yahoo('TSLA')

# Feature engineer columns
tesla['year'] = tesla.index.year
tesla['month'] = tesla.index.month
tesla['day'] = tesla.index.day
tesla['week_day'] = tesla.index.day_name()

In [7]:
tesla.head(n = 15)

,High,Low,Open,Close,Volume,Adj Close,year,month,day,week_day
Date,,,,,,,,,,
2017-06-26,77.389999,74.620003,77.337997,75.498001,33020500.0,75.498001,2017,6,26,Monday
2017-06-27,75.279999,72.403999,75.279999,72.473999,34982000.0,72.473999,2017,6,27,Tuesday
2017-06-28,74.348000,72.503998,73.335999,74.248001,31512500.0,74.248001,2017,6,28,Wednesday
2017-06-29,74.199997,70.820000,74.122002,72.150002,41105000.0,72.150002,2017,6,29,Thursday
2017-06-30,73.353996,71.924004,72.741997,72.321999,29242500.0,72.321999,2017,6,30,Friday
2017-07-03,74.269997,70.300003,74.047997,70.524002,31527000.0,70.524002,2017,7,3,Monday
2017-07-05,69.447998,65.265999,69.440002,65.417999,85233500.0,65.417999,2017,7,5,Wednesday
2017-07-06,64.157997,61.259998,63.452000,61.765999,96622500.0,61.765999,2017,7,6,Thursday
2017-07-07,63.400002,61.476002,62.700001,62.644001,70884500.0,62.644001,2017,7,7,Friday
2017-07-10,63.588001,60.625999,62.580002,63.209999,69104500.0,63.209999,2017,7,10,Monday
2017-07-11,65.456001,62.860001,63.200001,65.444000,57797000.0,65.444000,2017,7,11,Tuesday
2017-07-12,66.620003,64.900002,66.080002,65.903999,51730500.0,65.903999,2017,7,12,Wednesday
2017-07-13,66.320000,63.993999,66.022003,64.681999,42972500.0,64.681999,2017,7,13,Thursday
2017-07-14,65.683998,64.244003,64.638000,65.556000,28126000.0,65.556000,2017,7,14,Friday
2017-07-17,65.419998,62.689999,65.108002,63.914001,49384500.0,63.914001,2017,7,17,Monday

In [4]:
tesla.index

DatetimeIndex(['2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
               '2017-06-30', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10',
               ...
               '2022-06-09', '2022-06-10', '2022-06-13', '2022-06-14',
               '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-21',
               '2022-06-22', '2022-06-23'],
              dtype='datetime64[ns]', name='Date', length=1258, freq=None)